@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400&display=swap');

body {
  font-family: 'Georgia', sans-serif;
  background: linear-gradient(135deg, #FFB6C1, #E6E6FB);
  margin: 0;
  padding: 20px;
  color: #a94597;
}
h1 {
  font-family: 's', cursive;
  font-size: 3em;
  text-align: center;
  color: #4215d6;
}

.love-text {
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  letter-spacing: 2px;
}

